* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
div {
    background-color: blanchedalmond;
}
.text {
    font-size: 20px;
}
.author {
    font-size: 24px;
}
.delete {
    background-color: lightgray;
}